name: Verify the generated source code is up to date

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Checkout the caches
    runs-on: ubuntu-latest
    steps:
      - name: Checkout DynamicProbes repo
        uses: actions/checkout@v4

      - name: Install dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.401'

      - name: Build the project
        run: dotnet build --project src
      
      - name: Verify there are no changes to the generated source files
        shell: bash
        run: |
          set -euxo pipefail

        $diff = git diff --ignore-all-space --exit-code 2>&1
        $diff | % { if ($_ -is [string]) { $_ } else { [string]$_ } } | echo
        if ($LASTEXITCODE -ne 0) {
            throw "New code was generated during build that's not been committed."
        }
        dotnet build --project src

    - name: Check Uncommitted Changes
      shell: pwsh
      run: |
        $diff = git diff --ignore-all-space --exit-code 2>&1
        $diff | % { if ($_ -is [string]) { $_ } else { [string]$_ } } | echo
        if ($LASTEXITCODE -ne 0) {
            throw "New code was generated during build that's not been committed."
        }
